* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

header,
.hero,
footer {
  background-color: #1F2937;
  color: white;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 700;
}

header .container {
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}

header li,
.hero .secondary {
  color: #E5E7EB;
  font-size: 18px;
}

.hero .container {
  padding: 100px 0;
  gap: 60px;
}

.hero .container > * {
  flex: 1;
  /* height: 200px; */
}

.image {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.btn {
  background-color: #3882F6;
  border-radius: 6px;
  padding: 5px 30px;
  display: inline-block;
  margin: 10px 0;
  font-weight: 700;
}

.btn-alt {
  border: 2px solid white;
}

.information h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
  margin: 40px;
}

.card .image {
  height: 150px;
  width: 150px;
  background-color: white;
  border: 4px solid #3882F6;
  border-radius: 15px;
  margin-bottom: 10px;
}

.card {
  width: 150px;
  text-align: center;
}

.information .container {
  justify-content: center;
  gap: 30px;
}

.information {
  margin-bottom: 120px;
}

.quote {
  background-color: #E5E7EB;
  padding: 120px 0;
}

figure {
  width: 780px;
  margin: 0 auto;
}

figcaption {
  text-align: right;
  margin-right: 50px;
}

cite {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
}

blockquote {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.container.call-to-action {
  background-color: #3882F6;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  color: white;
  border-radius: 5px;
  font-size: 18px;
}

.call-to-action h4 {
  font-size: 24px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 40px;
}
