* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

header,
.hero,
footer {
  background-color: #1F2937;
  color: white;
}

ul {
  display: flex;
  list-style-type: none;
}

.quote {
  background-color: #E5E7EB;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}
